body, li, a, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    /*height: 100%;*/
}
/*
body{
    height: 100%;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
*/

body {
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap    
}

.menu {
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 10px;
}

.menu a:hover{
    color: #2f5966;
}

main{
    margin: auto;
    background-color: rgb(255, 255, 255);
    max-width: 1500px;
    text-align: center;
    height: auto;
}

a#action{
    color: blue;
}

